Repository AlekseyKopasov/library-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

добавляет адаптив для hero-блока
  src/scss/blocks/hero.scss
Due: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix

добавляет главное меню
  src/pug/components/base/header.pug
  src/pug/components/base/layout.pug
  src/pug/components/blocks/main-nav.pug
  src/pug/components/components.pug
  src/pug/pages/main/index.pug
  src/scss/blocks/header.scss
  src/scss/blocks/main-nav.scss
  src/scss/global/reboot.scss
  src/scss/style.scss
  src/ts/main.ts
  src/ts/vendor.ts
  src/ts/vendor/focus-visible-polyfill.js
Due: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

добавляет верстку
  src/img/sprite/icon_arrow.svg
  src/pug/components/base/header.pug
  src/pug/components/blocks/search-form.pug
  src/pug/components/components.pug
  src/pug/components/mixins/btn.pug
  src/pug/pages/main/index.pug
  src/scss/blocks/btn.scss
  src/scss/blocks/dropdown.scss
  src/scss/blocks/header.scss
  src/scss/blocks/hero.scss
  src/scss/blocks/main-nav.scss
  src/scss/blocks/search-form.scss
  src/scss/global/fonts.scss
  src/scss/global/reboot.scss
  src/scss/style.scss
  src/scss/variables.scss
  src/ts/main.ts
  src/ts/modules/search-dropdown.ts
Due: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

добавляет списки в поиске
  .gitignore
  dist/assets/hero-DuFhThzu.jpg
  dist/assets/hero@2x-DwMTosiA.jpg
  dist/assets/index-B8SLih0S.js
  dist/assets/index-BnzDSvcr.css
  dist/fonts/InterLight.html
  dist/fonts/InterLight.ttf
  dist/fonts/InterLight.woff
  dist/fonts/InterLight.woff2
  dist/pug/pages/main/index.html
  dist/readmy.md
  src/pug/components/blocks/search-form.pug
  src/pug/components/mixins/hero.pug
  src/scss/blocks/dropdown.scss
  src/scss/blocks/hero.scss
  src/scss/blocks/search-form.scss
  src/scss/style.scss
  src/ts/modules/search-dropdown.ts
Due: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

вносит правки
  dist/assets/index-B8_Jw5is.js
  dist/assets/index-D7wL-xDJ.css
  dist/pug/pages/main/index.html
  src/pug/components/blocks/search-form.pug
  src/scss/blocks/btn.scss
Due: prettier --write, stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

оживляет выпадающие списки
  dist/assets/index-CTcusLMF.js
  dist/pug/pages/main/index.html
  src/pug/components/blocks/search-form.pug
  src/ts/modules/search-dropdown.ts
Due: prettier --write, eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs

Path conditions:
  prettier --write: ((any of: *.scss) or (any of: *.pug)) or (any of: *.{ts,js,vue})
  stylelint src/scss/**/**.{css,scss} --config ./.stylelintrc.json --fix: any of: *.scss
  eslint --cache --cache-location ./node_modules/.cache/.eslintcache --config eslint.config.mjs: any of: *.{ts,js,vue}
